%% -*- erlang -*-

%% This magically sets the right compilation flags for your platform
%% (as long as Rebar supports it):
{port_specs,
 [{"priv/gsuffixtree", ["c_src/gsuffixtree/main.c", "c_src/gsuffixtree/gsuffix_tree.c"]},
  {"priv/suffixtree", ["c_src/suffixtree/main.c", "c_src/suffixtree/suffix_tree.c"]}]}.

%% These modules are needed for the parse transform:
{erl_first_files,
 ["src/wrangler_parse.erl",
  "src/wrangler_expand_rule.erl",
  "src/wrangler_scan.erl",
  "src/wrangler_epp_dodger.erl",
  "src/wrangler_syntax.erl",
  "src/wrangler_syntax_lib.erl",
  "src/wrangler_misc.erl",
  "src/api_ast_traverse.erl",
  "src/api_refac.erl"]}.

%% This corresponds to "make elisp":
{post_hooks,
 [{compile, "cp elisp/wrangler.el.src elisp/wrangler.el && escript ebin/dynamic_menu_items >>wrangler.el"}]}.
